/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('Images/QuantumLaneLogo1.webp') no-repeat center center fixed;
    background-size: cover;
}


.user-account a {
    color: #fff;
    margin-left: 1rem;
}

/* Hero banner styles */
.hero-banner {
    position: relative;
    text-align: center;
    color: #fff;
}

.carouselCon {
    margin: 4rem;
    background-color: rgba(7, 7, 7, 0.663);
    height: 1200px;
}
.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    min-height: auto;
    margin: 4 auto; /* Center the carousel */
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.carousel img {
    padding-left: 9em;
    width: 90%;
    height: 50%;    
}

/* Adjust the carousel caption */
.carousel-caption {
    position: relative; /* Adjust the position to fit the smaller size */
    left: 50%;
    justify-content: center;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.725);
    padding: 0.5rem; /* Adjust padding to fit the smaller size */
    border-radius: 5px;
}

.carousel-caption h2 {
    margin-bottom: 0.5rem;
    text-align: center;
    color: white;
    font-size: large;
}

#carouselVideo {
    position: relative;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.793);
    padding: 0.5rem; /* Adjust padding to fit the smaller size */
    border-radius: 5px;
}

.carousel-caption p {
    margin-bottom: 1rem;
    text-align: justify;
    color: #f4f4f4;
    font-size: large;
}

.carousel-caption .btn {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    text-decoration: none;
    border-radius: 5px;
}

.carousel-controls {
    position: absolute;
    top: 115rem;
    width: 88%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-prev, .carousel-next {
    background-color: rgb(64, 46, 5);
    color: #f7f7f7;
    padding: 1rem; /* Adjust padding to fit the smaller size */
    cursor: pointer;
}

#video1{
    position: relative;
    left: 4rem;
}

/* Section styles */
section {
    padding: 2rem;
    background-color: #fff;
    margin: 1rem 0;
}

section h2 {
    margin-bottom: 1rem;
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.latest-news {
    background: #0000009e;
}

.latest-news h2 {
    color: #f4f4f4;
    text-align: center;
    font-size: xx-large;
}

.news-item {
    flex: 1 1 calc(33.333% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: #090909c3;
    border-radius: 5px;
}

.news-item h3 {
    text-align: center;
    color: #f4f4f4;
    font-size: larger;
    margin: 1.5rem;
}

.news-item p {
    margin: 1rem;
    text-align: justify;
    color: white;
}

.news-item img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

section a {
    color: #ff0059;
    text-decoration: none;
}

#issueStatement {
    background: rgba(0, 0, 0, 0.468);
    margin-bottom: 2rem;
}

#issueStatement h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 1.5rem;
}

#issueHeadContainer {
    background: rgba(0, 0, 0, 0.468);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#mainIssueImage {
    height: 650px;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.issueStatements {
    text-align: center;
    color: white;
    max-width: 700px; /* Optional: to constrain text width for better readability */
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: larger;
}

.carousel-hidden {
    display: none;
}

.carousel-visible {
    display: block;
}

#carouselHeader { 
    margin-left: 14rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(119, 143, 166);
}